.visual-page {
    padding: 10px 0 20px 0;
    font-family: "Inter", sans-serif;
    text-align: left;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.visual-page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    background-color: rgba(75, 85, 99, 0.3);
    color: #fff;
    border-radius: 10px;
}

.visual-page_title {
    font-size: 22px;
    font-weight: 700;
}

.visual-page_back-btn {
    padding: 7px 12px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #fff;
    background-color: #2b3441;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
}

.visual-page_back-btn:hover {
    background-color: #374151;
}

.visual-page_row {
    display: grid;
    gap: 10px;
    align-items: stretch;
}

.visual-page_row.row-3d {
    grid-template-columns: 3fr 2fr;
}

.visual-page_row.row-default {
    grid-template-columns: 47fr 35fr 18fr;
}

.visual-page_col {
    display: grid;
    gap: 10px;
}

.visual-page_item {
    padding: 20px;
    background-color: rgba(75, 85, 99, 0.3);
    color: #fff;
    border-radius: 10px;
    min-width: 0;
    box-sizing: border-box;
}
.visual-page_item.item-3d {
    padding: 20px 0 0;
    
}

.visual-page_item.item-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.visual-page_item_inner {
    display: grid;
    gap: 10px;
    min-width: 0;
}

.visual-page_item_inner.one-col {
    grid-template-columns: 1fr;
}

.visual-page_item_inner.two-col {
    grid-template-columns: repeat(2, 1fr);
}

.visual-page_item_inner.three-col {
    grid-template-columns: repeat(3, 1fr);
}

.visual-page_item_inner.all-col {
    grid-template-columns: repeat(6, 1fr);
}

.visual-page_item_title {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}
.visual-page_item_title.title-3d {
    padding: 0 20px;
}   

.visual-page_item_value {
    font-family: "IBM Plex Mono", monospace;
    color: #999;
    min-width: 0;
}

.visual-page_item_value p {
    font-family: "Inter", sans-serif;
    line-height: 1.1;
    margin-bottom: 7px;
}

.visual-page_item_value span {
    font-size: 34px;
    color: #fff;
}